@font-face {
    font-family: 'Baumans Regular';
    src: url('../fonts/Baumans-Regular.ttf');
}
@font-face {
    font-family: 'Inconsolata Regular';
    src: url('../fonts/Inconsolata-Regular.ttf');
}
@font-face {
    font-family: 'MedulaOne Regular';
    src: url('../fonts/MedulaOne-Regular.ttf');
}
@font-face {
    font-family: 'NovaSquare';
    src: url('../fonts/NovaSquare.ttf');
}
@font-face {
    font-family: 'Pompiere Regular';
    src: url('../fonts/Pompiere-Regular.ttf');
}
